{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap5/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static "plugins/bootstrap-datepicker-1.10.0/dist/css/bootstrap-datepicker.css" %}">
    {% block css %} {% endblock %}
    <style>
        .container {
            max-width: 960px;
        {#未知:不设置960px会导致不同的设备边框比例不一致#}
        }

        .card-body {
            padding: 0 !important;
        }

        .table {
            margin-bottom: 0 !important;
        }
    </style>
    {% block style %} {% endblock %}

</head>
<body>

{#导航栏#}
<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;" data-bs-theme="light">
    <div class="container">
        <a class="navbar-brand" href="#">后台管理</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/list">管理员</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/group/list">组别管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/list">用户管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>

            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0" style="margin-right: 0">
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        {{ request.session.username }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">个人资料</a></li>
                        <li><a class="dropdown-item" href="/logout/">退出登录</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

{#正文#}
{% block content %} {% endblock %}


<script src="{% static 'plugins/js/jquery-3.7.1.js' %}"></script>
<script src="{% static 'plugins/bootstrap5/js/bootstrap.bundle.js' %}"></script>
<script src="{% static "plugins/bootstrap-datepicker-1.10.0/dist/js/bootstrap-datepicker.js" %}"></script>
<script src="{% static "plugins/bootstrap-datepicker-1.10.0/dist/locales/bootstrap-datepicker.zh-CN.min.js" %}"></script>
{% block js %} {% endblock %}
<script>
    {#时间选择插件#}
    $(function () {
        $("input[name='birthday'], input[name='vip_end_time']").datepicker({
            format: 'yyyy-mm-dd',
            startDate: '1900-01-01',
            language: 'zh-CN',
            autoclose: true,
        });
    })
</script>


</body>
</html>