{% extends "layout.html" %}

{% block style %}

{% endblock %}


{% block content %}
    <div class="container">
        <div class="card" style="margin-top: 30px">
            <div class="card-header">
                添加任务
            </div>
            <div class="card-body">
                <form method="post" novalidate>
                    <div class="row container">
                        {% for foo in form %}
                            <div class="col-6">
                                <div class="form-group">
                                    <label>{{ foo.label }}</label>
                                    {{ foo }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="container" style="margin-top: 10px; margin-bottom: 10px">
                        <input id="btn-submit" type="button" class="btn btn-primary" value="提交">
                    </div>
                </form>
            </div>
        </div>

        <div class="card" style="margin-top: 30px">
            <div class="card-header">
                任务列表-基于ajax的异步请求实现增删改查
            </div>
            <div class="card-body">
                <table class="table table-hover table-bordered table-sm">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">任务级别</th>
                        <th scope="col">任务负责人</th>
                        <th scope="col">任务标题</th>
                        <th scope="col">任务内容</th>
                        <th scope="col">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in tasks %}
                        <tr>
                            <th scope="row">{{ task.id }}</th>
                            <td>{{ task.get_task_level_display }}</td>
                            <td>{{ task.task_manager }}</td>
                            <td>{{ task.task_name }}</td>
                            <td>{{ task.task_content }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a type="button" class="btn btn-primary btn-sm" id="btn-edit-{{ task.id }}">
                                        编辑
                                    </a>
                                    <a type="button" class="btn btn-danger btn-sm btn-delete" id="btn-delete-{{ task.id }}">
                                        删除
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <hr>

        <div class="card">
            <div class="card-header">
                计数按钮实现
            </div>
            <div class="card-body">
                <label>
                    <input id="btn-count" type="button" class="btn btn-primary" value="点击我有惊喜">
                </label>
                <label for="countText">
                    <input type="text" id="countText" value="0" readonly>
                </label>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript">
        $(function () {
            {#网页加载完成后执行的代码#}
            bindBtnCount();
            bindBtnSubmit();
            bindBtnDelete();
        });

        let count = 0;

        function bindBtnCount() {
            $('#btn-count').click(function () {
                $.ajax(
                    {
                        url: '/task/ajax/',
                        type: 'get',
                        data: {
                            'a': count
                        },
                        success: function (data) {
                            console.log(data);
                            count++;
                            $('#countText').val(count);
                        }
                    }
                );
            });

        }

        function bindBtnSubmit() {
            $('#btn-submit').click(function () {
                $.ajax(
                    {
                        url: '/task/submit/',
                        type: 'post',
                        data: $('form').serialize(),
                        success: function (data) {
                            // 提示添加成功
                            alert("添加成功");
                            // 刷新页面
                            window.location.reload();
                        }
                    }
                );
            });
        }

        function bindBtnDelete() {
            $('.btn-delete').click(function () {
                let that = $(this);  // 保存$(this)的引用
                $.ajax(
                    {
                        url: '/task/delete/',
                        type: 'post',
                        data: {
                            'task_id': that.attr('id').split('-')[2]
                        },
                        success: function (data) {
                            // 删除该行
                            that.parent().parent().parent().remove();
                            // 无需刷新页面
                            {#window.location.reload();#}
                        }
                    }
                );
            });
        }
    </script>

{% endblock %}
